# Instacart Data-Wrangling

In [70]:
# Import libraries
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display, HTML

%matplotlib inline

# pandas display max_cols = 100

In [39]:
# Create a variable for the project root directory
proj_root = os.path.join(os.pardir)

# Create a variable for the path to the directory 
# containing the original, immutable data dump:
# /data/raw/instacart_2017_05_01

raw_data_dir = os.path.join(proj_root,
                                "data",
                                "raw",
                                "instacart_2017_05_01")

# Create a variable for the path to the directory 
# that will contain the intermediate data that will
# be transformed:
# /data/interim
interim_data_dir = os.path.join(proj_root,
                                "data",
                                "interim")

#Print directories
print('raw_data_dir:\t\t', raw_data_dir)
print('interim_data_dir:\t', interim_data_dir)

raw_data_dir:		 ../data/raw/instacart_2017_05_01
interim_data_dir:	 ../data/interim

In [40]:
raw_data_files = os.listdir(raw_data_dir)
raw_data_files

['aisles.csv',
 'departments.csv',
 'order_products__prior.csv',
 'order_products__train.csv',
 'orders.csv',
 'products.csv']

In [72]:
raw_data_path_0 = os.path.join(raw_data_dir,
                               raw_data_files[0])

df_aisles = pd.read_csv(raw_data_path_0)#, engine='python')

# Look
print('Head:')
display(df_aisles.head())

print('Shape:')
print(df_aisles.shape)

print('Size:')
print(sys.getsizeof(df_aisles), ' bytes')

del df_aisles

Head:

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

Shape:
(134, 2)
Size:
10840  bytes

In [78]:
for i, f in enumerate(raw_data_files):
    raw_data_path_f = os.path.join(raw_data_dir,
                                   f)

    df_f = pd.read_csv(raw_data_path_f)#, engine='python')

    # Look
    print('\nFile ', i, 
          ':\t', f)
    
    print('\nHead:')
    display(df_f.head())

    print('\nShape:')
    print(df_f.shape)

    print('\nSize:')
    print(sys.getsizeof(df_f), ' bytes\n')

    del df_f

File  0 :	 aisles.csv

Head:

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

Shape:
(134, 2)

Size:
10840  bytes


File  1 :	 departments.csv

Head:

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

Shape:
(21, 2)

Size:
1639  bytes


File  2 :	 order_products__prior.csv

Head:

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

Shape:
(32434489, 4)

Size:
1037903752  bytes


File  3 :	 order_products__train.csv

Head:

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

Shape:
(1384617, 4)

Size:
44307848  bytes


File  4 :	 orders.csv

Head:

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

Shape:
(3421083, 7)

Size:
376244234  bytes


File  5 :	 products.csv

Head:

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

Shape:
(49688, 4)

Size:
5568387  bytes

In [73]:
for f in raw_data_files:
    print(f)

aisles.csv
departments.csv
order_products__prior.csv
order_products__train.csv
orders.csv
products.csv

In [43]:
sys.getsizeof(raw_data_dir)

81

In [44]:
sys.getsizeof(raw_data_files)

128

In [33]:
os.path.join(raw_data_dir,
             raw_data_files[0])

'../data/raw/instacart_2017_05_01/aisles.csv'

In [34]:
os.path.join(raw_data_dir,
             raw_data_files[1])

'../data/raw/instacart_2017_05_01/departments.csv'

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [ ]:
## Try adding parameter index=0
pump_data_path = os.path.join(PROJ_ROOT,
                              "data",
                              "raw",
                              "pumps_train_values.csv")

df = pd.read_csv(pump_data_path, index=0)
df.head(1)